<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291155474683-vg4dufsl01mifntkacqt199q2kpubb17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291155474683-vg4dufsl01mifntkacqt199q2kpubb17</string>
	<key>API_KEY</key>
	<string>AIzaSyDek0vD78CnsyKJ4vpmVYaz6N2orqdt6lE</string>
	<key>GCM_SENDER_ID</key>
	<string>291155474683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.gardenall.ThreadsSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>threadsswiftui-f6a0b</string>
	<key>STORAGE_BUCKET</key>
	<string>threadsswiftui-f6a0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291155474683:ios:f98dc16dff6729842a585e</string>
</dict>
</plist>